.board {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  padding-left: 2%;
}
.myPage {
  padding-right: 2%;
}

.article {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.boardContainer {
  display: flex;
  width: 80%;
  height: 80%;
  border: 10px solid #3dd894;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

.boardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-right: 5px solid #3dd894;
  overflow: auto;
}
.boardContent::-webkit-scrollbar {
  display: none;
}

.boardInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-left: 5px solid #3dd894;
}

.contextContainer {
  display: flex;
  height: 10%;
  align-items: center;
  border-top: 10px solid #3dd894;
  justify-content: space-evenly;
  flex-direction: row;
}

.contextButtons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 90%;
  padding: 1%;
}
.navContainer {
  overflow: overlay;
  width: 100%;
  height: 90%;
  min-height: 300px;
  align-items: center;
}

.navContainer::-webkit-scrollbar {
  display: none;
}

.navLists {
  padding: 4%;
  display: flex;
  min-height: 125px;
  max-height: 500px;
  width: 92%;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 2.5px;
  border-bottom-color: #3dd894;
  border-bottom-style: dashed;
  white-space: pre-wrap;
}
.navListsImgContainer {
  width: 30%;
  max-height: 100%;
}
.navListsImg {
  width: 100%;
  max-height: 125px;
  border-radius: 10px;
}
.navListsContentContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.navListsCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 125px;
  max-height: 450px;
  word-break: keep-all;
  overflow-y: auto;
}
.navListsCommentContainer::-webkit-scrollbar {
  display: none;
}
.navListsContentTitle {
  margin-left: 5%;
  padding-top: 5%;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}
.navListsContentComment {
  padding-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}
.navListsUserIdContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  font-size: 1em;
  font-weight: bold;
}

.navListsCommentBody {
  word-break: break-all;
  margin-left: 5%;
  min-height: 125px;
  max-height: 450px;
  width: 90%;
  font-size: 1em;
  font-weight: bold;
}
.readArticle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.readArticleImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.readArticleImage {
  width: 90%;
  height: 80%;
  border-radius: 10px;
}

.readArticleTitleContainer {
  height: 15%;
  width: 100%;
}

.readArticleTitle {
  margin-left: 5%;
}

.readArticleBodyContainer {
  height: 25%;
  width: 100%;
}

.readArticleBody {
  margin-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  white-space: pre-wrap;
}

.commentArticle,
.createArticle,
.updateArticle {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.updateTitle,
.createTitle {
  padding: 2.5% 5% 0 5%;
}

.updateBody,
.createBody {
  padding: 0 5% 5% 5%;
  width: 90%;
  height: 82.5%;
}

.commentFormContainer {
  padding: 5% 5% 5% 5%;
  width: 90%;
  height: 90%;
}

.commentFormUserId,
.formTitle {
  font-size: 2em;
  height: 8%;
  width: 100%;
}

.formTitle {
  font-size: 2em;
}

.commentFormBody,
.formBody {
  font-size: 2em;
  width: 100%;
  height: 80%;
  margin-top: 2%;
}

.commentFormBody,
.commentFormUserId {
  font-size: 2em;
}

.formUrl {
  margin-bottom: 2%;
  width: 100%;
}

.commentForm,
.createForm,
.updateForm {
  height: 100%;
}

.noCommentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Buttons */
.submitButton {
  font-size: 1.2em;
  margin-top: 2%;
  background: #00ae68;
  /* display: block; */
  /* position: relative; */
  width: 120px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  border-color: white;
  border-width: 0;
  transition: all 0.2s;
}

.contextButtons {
  font-size: 1.2em;
  background: #00ae68;
  /* display: block; */
  /* position: relative; */
  width: 120px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  border-color: white;
  border-width: 0;
  transition: all 0.2s;
}

.submitButton:hover,
.contextButtons:hover {
  background: #21825b;
}
