.board {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.article {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.boardContainer {
  display: flex;
  width: 80%;
  height: 80%;
  border: 10px solid #3dd894;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

.boardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-right: 5px dashed #3dd894;
  overflow: auto;
}

.boardInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-left: 5px dashed #3dd894;
}

.contextContainer {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.contextButtons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 90%;
  padding: 1%;
}
.navContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  align-items: center;
  overflow-y: auto;
}
.navLists {
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.readArticle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.readArticleImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.readArticleImage {
  width: 90%;
  height: 80%;
  border-radius: 10px;
}

.readArticleTitleContainer {
  height: 15%;
  width: 100%;
}

.readArticleTitle {
  margin-left: 5%;
}

.readArticleBodyContainer {
  height: 25%;
  width: 100%;
}

.readArticleBody {
  margin-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}
